@import "tailwindcss";

@theme {
  --color-primary: #FFFFFF;
  --color-secondary: #F8F9FA;
  --color-accent: #16A8A8;
  --color-background: #24323A;
}

@layer base {
  * { box-sizing: border-box; }
  body { margin: 0; }
}
